.siteHeader {
  background-color: #733b92;
  margin-bottom: 60px;
  color: #fff;
}

.innerWrapper {
  max-width: 1600px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.brandTitle {
  font-size: 40px;
  font-weight: normal;
  margin: 21px 0;
}

.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  list-style: none;
}

.navItem {
  margin-left: 32px;
}

.navAccount {
  margin-left: auto;
  list-style: none;
}

.menuItem {
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: #fff;
    outline: none;
  }
}
